*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --height-header: 46px;
    --primary-color: #3fd0d4;
    --height-logo: 143px;
    --height-nav: 82px;
}
html{
    font-family: Poppins, sans-serif;
}
body{
    font-weight: 500;
}
a{
    text-decoration: none;
}
.active{
    color: var(--primary-color) !important;
}
.arrow {
    position: absolute;
    right: 10%;
    bottom: 30%;
}

a .underline--white{
    position: relative;
    line-height: 24px;
}
a .underline--white:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s ease-out;
}
a .underline--white:hover::after {
    visibility: visible;
    width: 100%;
    transition: all 0.3s ease-out;
}
.underline{
    position: relative;
    line-height: 24px;
}
.underline:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    visibility: hidden;
    transition: all 0.3s ease-out;
}
a:hover .underline:after {
    visibility: visible;
    width: 100%;
    transition: all 0.3s ease-out;
}
ul li{
    list-style: none;
}

.second-nav{    
    position: absolute;
    box-shadow: 0 3px 13px 0 rgb(0 0 0 / 3%);
    background-color: #fff;
    top: 100%;
    padding: 28px 0 30px;
    color: #333;
    max-height: 0;
    transition: max-height 1s linear;  
    visibility: hidden;
    z-index: 999;
}

.second-nav ul li{
    cursor: pointer;
}
.second-nav--2-2,
.second-nav--2{
    position: absolute;
    box-shadow: 0 3px 13px 0 rgb(0 0 0 / 3%);
    background-color: #fff;
    padding: 28px 0 30px;
    color: #333;
    left: 100%;
    display: none;
    z-index: 999;

}
.second-nav--2{
    top: 30%;
    z-index: 0;
}
.second-nav--2-2{
    z-index: 0;
    top: 60%;
}
.show{
    display: block !important;
    animation: slide 2s linear;
 
}
@keyframes slide{
    from { 
        opacity: 0.9;
        background-color: rgba(255, 255, 255, 0.1);
    }
    to{
        opacity: 1;
        background-color: transparent;
    }
}