*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --height-header: 46px;
    --primary-color: #3fd0d4;
    --height-logo: 143px;
    --height-nav: 82px;
}
html{
    font-family: Poppins, sans-serif;
}
body{
    font-weight: 500;
}
a{
    text-decoration: none;
}
.active{
    color: var(--primary-color) !important;
}
a .underline{
    position: relative;
    line-height: 24px;
}
a .underline:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s linear;
}
a .underline:hover::after {
    visibility: visible;
    width: 100%;
    transition: all 0.3s linear;
}
ul li{
    list-style: none;
}
.second-nav{    
    position: absolute;
    width: 100%;
    box-shadow: 0 3px 13px 0 rgb(0 0 0 / 3%);
    visibility: hidden;
    transition: max-height 1s linear;  
    max-height: 0;
}
.second-nav ul li{
    cursor: pointer;
}
