.app{
    z-index: 5;
}
#header{

}
.header__top{
    height: var(--height-header);
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}
.header__top--contact{
    height: 100%;
}
.header__top--contact ul {
    display: flex;
    line-height: var(--height-header);
}
.header__top--contact a{
    font-size: 14px;
    color: var( --primary-color);
    margin-right: 20px;
    
}
.header__top--text{
    font-size: 13px;
    color: white;
    padding-left: 10px;
}
.header__top--social ul a:hover,
.header__top--text:hover{
    color: var( --primary-color);
}
.header__top--end{
    display: flex;
    align-items: center;
}
.header__top--social{
    margin-right: 15px;
}
.header__top--social ul{
    display: flex;
}
.header__top--social ul a{
    font-size: 14px;
    color: #fff;
    margin-right: 20px;
    
}
.header__top--language{
    position: relative;
    width: 140px;
    height: var(--height-header);
    line-height: var(--height-header);
    background-color: #3abdc1;
    font-size: 13px;
    font-weight: 600;
    flex-direction: column;
}
.header__top--language a{
    display: flex;
    justify-content: center;
    color: #fff;
}
.header__top--language a i {
    position: absolute;
    top: 30%;
    right: 36px;
}
.header__second-nav{
    width: 100%;
    box-shadow: 0 3px 13px 0 rgb(0 0 0 / 3%);
    background-color: var(--primary-color);
    top: var(--height-header);
    max-height: 0;
    transition: max-height 2s linear;  
    visibility: hidden;
}
.header__top--language:hover .header__second-nav{
    visibility: visible;
    max-height: 100vh;
}
.header__second-nav ul li{
    padding: 12px 0;
}
.header__top--account{
    background-color: var(--primary-color);
    height: 100%;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__top--account a svg{
    color: #fff;
    height: 24px;
    
}
.header__logo{
    justify-content: center;
    width: 100%;
    display: flex;
}
.header__logo a{
    height: var(--height-logo);
}
.header__logo a img{
    height: 80px;
    margin-top: 40px;
}
.header__nav{
    height:var(--height-nav);
}
.nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav a:hover{
    color: var(--primary-color);
}
.nav li a {
    position: relative;
    font-size: 15px;
    color: #333;
    font-weight: 600;
    padding: 8px 37px;
    width: 257px;
}
.nav > li > a{
   padding-bottom: 36px;
}


.nav li:hover .nav--full,
.nav li:hover .second-nav{
    visibility: visible;
    max-height: 100vh;
}

.second-nav li a{
    display: block;
}


.second-nav li:hover .second-nav--2{
    display: block;
    opacity: 1;
}
.second-nav li:hover .second-nav--2-2{
    display: block;
    opacity: 1;
}
.nav--full{
    background-color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    box-shadow: 0 3px 13px 0 rgb(0 0 0 / 3%);
    max-height: 0;
    transition: max-height .6s linear;  
    overflow: hidden;
    visibility: hidden;
    z-index: 99;
}
.nav--full > ul{
   width: 1300px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   padding: 46px 0 44px;
}
.header__nav--full{
    display: flex;
    flex-direction: column;
}
.nav--full li a{
    display: block;
    font-size: 15px;
    color: #333;
    padding-bottom: 15px ;
    font-weight: 600;
    width: 257px;
    font-weight: 600;
}

#content{
}

.slider{
    height: 790px;
    position: relative;
    overflow: hidden;
}
.slider i {
    font-size: 24px;
    line-height: 55px;
}
.l-slider--arrow{
    position: absolute;
    background-color: #fff;
    top: 47%;
    left: 2%;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    text-align: center;
    color: var( --primary-color);
    z-index: 9;
}
.l-slider--arrow i {
    position: absolute;
    left: 34%;

}
.r-slider--arrow{
    position: absolute;
    background-color: #fff;
    top: 47%;
    right: 2%;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    text-align: center;
    color: var( --primary-color);
    z-index: 9;
}
.r-slider--arrow:hover,
.l-slider--arrow:hover{
    background-color: var(--primary-color);
    color: #fff;
}
.r-slider{
    position: absolute;
    bottom: 0%;
    right: 0;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    z-index: -1;

}
.l-slider{
    position: absolute;
    bottom: 0%;
    left: 0;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    z-index: -1;
}
.slider__text{
    position: absolute;
    left: 13%;
    top: 35%;
    z-index: -1;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.popular__tours {
    display: grid;
    grid-template-columns: 40% 55%;
    padding-top: 128px;
    padding-left: 16px;
}
.img{

}
.popular__tours--des{

}
.popular__tours--des-text{
    display: block;
}
.popular__tours--des-text h1{
    font-size: 40px;
    color: #212121;
}
.popular__tours--des-text p{
    font-size: 17px;
    line-height: 28px;
    margin-top: 16px;
    font-weight: 400;
    color: #505050;
}
.popular__tours--des-progress{
    
}
.popular__tours--des-progress .title{
    display: flex;
    justify-content: space-between;
    margin: 29px 0 11px;
    color: #212121;
    font-weight: 600;
}
.progress{
    width: 100%;
    height: 22px;
    background-color: #f0ede8;
}
.progress .current1{
    z-index: 1;
    height: 100%;
    max-width: 0%;
    background-color: var(--primary-color);
    transition: max-width .3s ease-out;
}
.progress .current2{
    z-index: 1;
    height: 100%;
    max-width: 0%;
    background-color: var(--primary-color);
    transition: max-width .1s ease-out;
}
.progress .current3{
    z-index: 1;
    height: 100%;
    max-width: 0%;
    background-color: var(--primary-color);
    transition: max-width .2s ease-out;
}
.travel img{
    padding-top: 60px;
}
.bestTours{
    padding-top: 108px;
    text-align: center;
    padding-bottom: 62px;
}
.bestTours h1{
    font-size: 65px;
    color: #212121;
    margin-bottom: 12px;
}
.bestTours span{
    font-weight: 400;
    color: #505050;
    line-height: 28px;
    justify-content: center;
}

.toursList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.toursList__place:nth-child(3){
    grid-column: 3/ span 1;
    grid-row: 1/span 2;
}
.toursList__place:nth-child(7){
    grid-column: 4/span 1;
}
/* .toursList{
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    "h1  h2  h3  h4"
    "h5  h6  h3  h7" ;
}
.toursList__place:first-child{
    grid-area: h1;
}
.toursList__place:nth-child(2){
    grid-area: h2;
}
.toursList__place:nth-child(3){
    grid-area: h3;
}
.toursList__place:nth-child(4){
    grid-area: h4;
}
.toursList__place:nth-child(5){
    grid-area: h5;
}
.toursList__place:nth-child(6){
    grid-area: h6;
}
.toursList__place:last-child{
    grid-area: h7;
} */
.toursList__place{
    display: block;
}
.toursList__place a img{
    width: 100%;
    height: 100%;
}