.app{
    z-index: 5;
}
#header{

}
.header__top{
    height: var(--height-header);
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}
.header__top--contact{
    height: 100%;
}
.header__top--contact ul {
    display: flex;
    line-height: var(--height-header);
}
.header__top--contact a{
    font-size: 14px;
    color: var( --primary-color);
    margin-right: 20px;
    
}
.header__top--text{
    font-size: 13px;
    color: white;
    padding-left: 10px;
}
.header__top--social ul a:hover,
.header__top--text:hover{
    color: var( --primary-color);
}
.header__top--end{
    display: flex;
    align-items: center;
}
.header__top--social{
    margin-right: 15px;
}
.header__top--social ul{
    display: flex;
}
.header__top--social ul a{
    font-size: 14px;
    color: #fff;
    margin-right: 20px;
    
}
.header__top--language{
    position: relative;
    width: 140px;
    height: var(--height-header);
    line-height: var(--height-header);
    background-color: #3abdc1;
    font-size: 13px;
    font-weight: 600;
    flex-direction: column;
}
.header__top--language a{
    display: flex;
    justify-content: center;
    color: #fff;
}
.header__top--language a i {
    position: absolute;
    top: 30%;
    right: 36px;
}
.header__top--language:hover .header__second-nav{
    visibility: visible;
    max-height: 100vh;
}
.header__second-nav{
    width: 100%;
    box-shadow: 0 3px 13px 0 rgb(0 0 0 / 3%);
    background-color: var(--primary-color);
    top: var(--height-header);
    max-height: 0;
    transition: max-height 1s linear;  
    visibility: hidden;

}
.header__second-nav ul li{
    padding: 12px 0;
}
.header__top--account{
    background-color: var(--primary-color);
    height: 100%;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__top--account a svg{
    color: #fff;
    height: 24px;
    
}
.header__logo{
    justify-content: center;
    width: 100%;
    display: flex;
}
.header__logo a{
    height: var(--height-logo);
}
.header__logo a img{
    height: 80px;
    margin-top: 40px;
}
.header__nav{
    height:var(--height-nav);
}
.nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav span:hover{
    color: var(--primary-color);
}

.header__nav .nav li{
    display: inline-block;
}

.nav li a {
    font-size: 15px;
    color: #333;
    font-weight: 600;
    padding: 8px 37px;
}
.second-nav{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.second-nav a .underline:after{
    background-color: var(--primary-color);
}
.nav li a:hover .second-nav{
    
}

