.app{
    z-index: 5;
}
#header{

}
.header__top{
    height: var(--height-header);
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}
.header__top--contact{
    height: 100%;
}
.header__top--contact ul {
    display: flex;
    line-height: var(--height-header);
}
.header__top--contact a{
    font-size: 14px;
    color: var( --primary-color);
    margin-right: 20px;
    
}
.header__top--text{
    font-size: 13px;
    color: white;
    padding-left: 10px;
}
.header__top--social ul a:hover,
.header__top--text:hover{
    color: var( --primary-color);
}
.header__top--end{
    display: flex;
    align-items: center;
}
.header__top--social{
    margin-right: 15px;
}
.header__top--social ul{
    display: flex;
}
.header__top--social ul a{
    font-size: 14px;
    color: #fff;
    margin-right: 20px;
    
}
.header__top--language{
    position: relative;
    width: 140px;
    height: var(--height-header);
    line-height: var(--height-header);
    background-color: #3abdc1;
    font-size: 13px;
    font-weight: 600;
    flex-direction: column;
}
.header__top--language a{
    display: flex;
    justify-content: center;
    color: #fff;
}
.header__top--language a i {
    position: absolute;
    top: 30%;
    right: 36px;
}
.header__second-nav{
    width: 100%;
    box-shadow: 0 3px 13px 0 rgb(0 0 0 / 3%);
    background-color: var(--primary-color);
    top: var(--height-header);
    max-height: 0;
    transition: max-height 1s linear;  
    visibility: hidden;
}
.header__top--language:hover .header__second-nav{
    visibility: visible;
    max-height: 100vh;
}
.header__second-nav ul li{
    padding: 12px 0;
}
.header__top--account{
    background-color: var(--primary-color);
    height: 100%;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__top--account a svg{
    color: #fff;
    height: 24px;
    
}
.header__logo{
    justify-content: center;
    width: 100%;
    display: flex;
}
.header__logo a{
    height: var(--height-logo);
}
.header__logo a img{
    height: 80px;
    margin-top: 40px;
}
.header__nav{
    height:var(--height-nav);
}
.nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav a:hover{
    color: var(--primary-color);
}
.nav li a {
    position: relative;
    font-size: 15px;
    color: #333;
    font-weight: 600;
    padding: 8px 37px;
    width: 257px;
}
.nav > li > a{
    padding-bottom: 36px;
}


.nav li:hover .nav--full,
.nav li:hover .second-nav{
    visibility: visible;
    max-height: 100vh;
}
.nav li:hover .second-nav li{
    visibility: visible;
    max-height: 100vh;
}
.second-nav li a{
    display: block;
}

.second-nav--2 li{
    background-color: #fff;
    max-height: 0;
}

.second-nav li:hover .second-nav--2{
    display: block;
    opacity: 1;
}
.second-nav li:hover .second-nav--2-2{
    display: block;
    opacity: 1;
}
.nav--full{
    background-color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    box-shadow: 0 3px 13px 0 rgb(0 0 0 / 3%);
    max-height: 0;
    transition: max-height .6s linear;  
    overflow: hidden;
    visibility: hidden;
}
.nav--full > ul{
   width: 1300px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   padding: 46px 0 44px;
}
.header__nav--full{
    display: flex;
    flex-direction: column;
}
.nav--full li a{
    display: block;
    font-size: 15px;
    color: #333;
    padding-bottom: 15px ;
    font-weight: 600;
    width: 257px;
    font-weight: 600;
}

#content{
}

.slider{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
    padding: 0 15px;
}
.slider i {
    font-size: 24px;
    line-height: 55px;
}
.l-slider--arrow{
    position: absolute;
    background-color: #fff;
    top: 47%;
    left: 3%;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    text-align: center;
    color: var( --primary-color);
}
.r-slider--arrow{
    position: absolute;
    background-color: #fff;
    top: 47%;
    right: 3%;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    text-align: center;
    color: var( --primary-color);

}
.r-slider--arrow:hover,
.l-slider--arrow:hover{
    background-color: var(--primary-color);
    color: #fff;
}
.slider img{
    display: none;
    z-index: 0;
}
.r-slider,
.l-slider{
    position: relative;


}
.r-slider img{
    height: 790px;
    
}
.slider__text{
    position: absolute;
    left: 20%;
    top: 37%;
}
